# Pandas 연습문제

## Pandas 개요
 - `Pandas`는 파이썬에서 사용하는 데이터분석 라이브러리로, 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구임
 - `pandas`는 과학용 파이썬 배포판인 아나콘다(Anaconda)에 기본적으로 제공되지만, 아나콘다를 사용하지 않을 경우에는 `pip install pandas` 를 통해 설치할 수 있음

In [1]:
# pandas 패키지 불러오기
import pandas as pd

# 예제 사진 불러오기 위한 패키지
from IPython.display import Image

### 1. 딕셔너리를 이용하여 아래와 같은 모양이 되도록 data frame을 생성하시오.

![ex](pandasEx.png)

In [7]:
# 딕셔너리 생성
score={'학번':[201524213,201621223,201621233, 201611111, 201722222],
       '이름':['오지환','박용택','정성훈', '다니엘', '지민'],
       '학과':['경영정보','경영정보','경영정보','컴퓨터공학','컴퓨터공학'],
       'Quiz':[15,20,10,17,18],
       '중간고사':[20,20,15,18,16]}

# 데이터프레임 정의
df= pd.DataFrame(score)
df

          학번   이름     학과  Quiz  중간고사
0  201524213  오지환   경영정보    15    20
1  201621223  박용택   경영정보    20    20
2  201621233  정성훈   경영정보    10    15
3  201611111  다니엘  컴퓨터공학    17    18
4  201722222   지민  컴퓨터공학    18    16

In [4]:
# 데이터프레임에서 '학번'열 선택하기
df['학번']

0    201524213
1    201621223
2    201621233
3    201611111
4    201722222
Name: 학번, dtype: int64

In [5]:
# 혹은 이렇게도 가능
df.학번

0    201524213
1    201621223
2    201621233
3    201611111
4    201722222
Name: 학번, dtype: int64

### 2. 위에서 생성한 데이터프레임으로부터 인덱싱을 이용하여 이름과 중간고사를 추출하시오.

In [6]:
# 여러개의 열 동시에 추출
df[['이름', '중간고사']]

    이름  중간고사
0  오지환    20
1  박용택    20
2  정성훈    15
3  다니엘    18
4   지민    16

### 3. reindex를 이용하여 2, 0, 4, 1, 3 순으로 순서를 변경하시오.
- `.reindex()`: 새로운 색인에 맞도록 객체를 새로 생성하는 기능. row, column 인덱스 모두 변경 가능

In [9]:
# 지정한 행번호로 인덱스 재설정
df = df.reindex([2, 0, 4, 1, 3])
df

          학번   이름     학과  Quiz  중간고사
2  201621233  정성훈   경영정보    10    15
0  201524213  오지환   경영정보    15    20
4  201722222   지민  컴퓨터공학    18    16
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18

### 4. iloc과 loc을 각각 이용하여 박용택 학생의 record를 추출하시오. (iloc으로 한번, loc으로 한번 수행)
- `.loc[label]`: 레이블을 기반으로 인덱싱
- `.iloc[position]`: 위치 정수를 기반으로 인덱싱(0부터 시작)

In [13]:
print(df.iloc[3]) # 4번째 행 인덱싱
print(df.loc[1]) # 1번 레이블 인덱싱

학번      201621223
이름            박용택
학과           경영정보
Quiz           20
중간고사           20
Name: 1, dtype: object
학번      201621223
이름            박용택
학과           경영정보
Quiz           20
중간고사           20
Name: 1, dtype: object

### 5. iloc과 loc을 각각 이용하여 모든 학생의 이름과 중간고사 점수를 추출하시오. (iloc으로 한번, loc으로 한번 수행)
- ":"를 이용해서 모든 행 추출, 필요한 열 선택

In [19]:
print(df.iloc[:, [1, 4]]) # 모든행 추출, 1열(이름), 4열(중간고사) 추출(0행부터 시작)
print(df.loc[:, ['이름', '중간고사']]) # 모든행 추출, 레이블 이름으로 필요한 열 추출

    이름  중간고사
2  정성훈    15
0  오지환    20
4   지민    16
1  박용택    20
3  다니엘    18
    이름  중간고사
2  정성훈    15
0  오지환    20
4   지민    16
1  박용택    20
3  다니엘    18

### 6. 중간고사 점수의 평균을 구하시오.
- pandas에서는 기본적인 데이터분석용 함수(sum, mean, min 등)을 제공함

In [24]:
# '중간고사'열의 평균 구하기
df['중간고사'].mean()

17.8

### 7. 중간고사 점수가 가장 낮은 학생의 index를 구하시오.
- `.idxmin()`: 최소값을 가지고 있는 인덱스를 반환

In [23]:
# '중간고사' 열의 최소값의 인덱스 구하기
df['중간고사'].idxmin()

2

### 8. 퀴즈 점수가 가장 높은 학생의 학번을 구하시오.
- `.idxmax()`: 최대값을 가지고 있는 인덱스를 반환

In [27]:
# 행번호: 'Quiz'열의 최대값의 인덱스 = 3
df.loc[df['Quiz'].idxmax(), '학번']

201621223

In [28]:
# 이 방법도 가능
df.loc[df['Quiz'].idxmax()]['학번']

201621223

### 9. 위 데이터프레임의 각 열에 대해서 개수, 평균, 표준편차, 최소최대값 등의 다양한 통계량을 출력하시오.
- `.describe()`:데이터의 컬럼별 요약 통계량 표시

In [32]:
# df의 열별 요약통계량 표시
df.describe()

                 학번       Quiz       중간고사
count  5.000000e+00   5.000000   5.000000
mean   2.016200e+08  16.000000  17.800000
std    7.018995e+04   3.807887   2.280351
min    2.015242e+08  10.000000  15.000000
25%    2.016111e+08  15.000000  16.000000
50%    2.016212e+08  17.000000  18.000000
75%    2.016212e+08  18.000000  20.000000
max    2.017222e+08  20.000000  20.000000

### 10. 위 데이터프레임을 중간고사 점수에 따라 내림차순으로 정렬하시오.
- `.sort_values()`: 데이터프레임 정렬 함수. 내림차순 -> ascending = False

In [33]:
# 중간고사 점수가 높은 순으로 정렬
df.sort_values('중간고사', ascending=False)

          학번   이름     학과  Quiz  중간고사
0  201524213  오지환   경영정보    15    20
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18
4  201722222   지민  컴퓨터공학    18    16
2  201621233  정성훈   경영정보    10    15

### 11. 학생 중에서 퀴즈 점수가 평균 이상인 학생들의 이름을 출력하시오.

In [35]:
# 퀴즈 점수의 평균값 정의
quiz_mean = df['Quiz'].mean()
# 퀴즈 열에서 앞서 정의한 퀴즈 점수 평균값과 비교하여 평균을 초과하는 행의 이름 출력
df[df['Quiz'] > quiz_mean]['이름']

4     지민
1    박용택
3    다니엘
Name: 이름, dtype: object

### 12. 학생 중에서 퀴즈와 중간고사 점수 모두 평균 이상인 학생들의 record를 출력하시오.

In [38]:
# 퀴즈 점수 평균값 정의
quiz_mean = df['Quiz'].mean()
# 중간고사 점수 평균값 정의
mid_mean = df['중간고사'].mean()
# 앞서 정의한 평균값들과 해당 열과의 비교(record 전체를 출력하는 것이므로 인덱싱 x)
# &로 and조건 주기
df[(df['Quiz'] > quiz_mean) & (df['중간고사'] > mid_mean)]

          학번   이름     학과  Quiz  중간고사
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18

### 13. value_counts를 이용하여 학과 별로 학생의 수를 구하시오.
- `.value_counts()`: unique value를 세는 함수

In [41]:
# 학과에서 unique value가 몇 개 있는지 count
df['학과'].value_counts()

경영정보     3
컴퓨터공학    2
Name: 학과, dtype: int64

### 14. groupby를 이용하여 학과 별로 중간고사의 평균을 구하시오.
- `.groupby()`: 같은 값을 하나로 묶어 그룹화하는 함수

In [45]:
# 학과 별 중간고사의 평균 구하기
df.groupby('학과')['중간고사'].mean()

학과
경영정보     18.333333
컴퓨터공학    17.000000
Name: 중간고사, dtype: float64

In [47]:
# 데이터프레임의 컬럼별 전체 평균(숫자가 있는 열만)
df.mean()

학번      201620000.4
Quiz           16.0
중간고사           17.8
dtype: float64

In [48]:
# 데이터프레임을 같은 학과별로 그룹화
list(df.groupby('학과'))

[('경영정보',
            학번   이름    학과  Quiz  중간고사
  2  201621233  정성훈  경영정보    10    15
  0  201524213  오지환  경영정보    15    20
  1  201621223  박용택  경영정보    20    20),
 ('컴퓨터공학',
            학번   이름     학과  Quiz  중간고사
  4  201722222   지민  컴퓨터공학    18    16
  3  201611111  다니엘  컴퓨터공학    17    18)]